{#
/**
 * @file
 * Default theme implementation for the basic structure of a single Drupal page.
 *
 * Variables:
 * - logged_in: A flag indicating if user is logged in.
 * - root_path: The root path of the current page (e.g., node, admin, user).
 * - node_type: The content type for the current node, if the page is a node.
 * - head_title: List of text elements that make up the head_title variable.
 *   May contain one or more of the following:
 *   - title: The title of the page.
 *   - name: The name of the site.
 *   - slogan: The slogan of the site.
 * - page_top: Initial rendered markup. This should be printed before 'page'.
 * - page: The rendered page markup.
 * - page_bottom: Closing rendered markup. This variable should be printed after
 *   'page'.
 * - db_offline: A flag indicating if the database is offline.
 * - placeholder_token: The token for generating head, css, js and js-bottom
 *   placeholders.
 *
 * @see template_preprocess_html()
 *
 * @ingroup themeable
 */
#}
<!DOCTYPE html>
<html class="no-js" version="HTML+RDFa 1.1" lang="en-ZA">
<meta http-equiv="content-type" content="text/html;charset=utf-8" />
  <head prefix="og: http://ogp.me/ns#" dir="ltr">
      <link rel="canonical" href="index.html">
      <link rel="alternate" href="https://disney.es/" hreflang="es-ES">
      <link rel="alternate" href="https://disney.co.uk/" hreflang="en-GB">
      <link rel="alternate" href="https://disney.fr/" hreflang="fr-FR">
      <link rel="alternate" href="https://disney.de/" hreflang="de-DE">
      <link rel="alternate" href="https://disney.de/" hreflang="de-XA">
      <link rel="alternate" href="https://disney.it/" hreflang="it-IT">
      <link rel="alternate" href="https://disney.se/" hreflang="sv-SE">
      <link rel="alternate" href="https://disney.pt/" hreflang="pt-PT">
      <link rel="alternate" href="https://disney.no/" hreflang="no-NO">
      <link rel="alternate" href="https://disney.no/" hreflang="nb-NO">
      <link rel="alternate" href="https://disney.fi/" hreflang="fi-FI">
      <link rel="alternate" href="https://disney.dk/" hreflang="da-DK">
      <link rel="alternate" href="https://nl.disney.be/" hreflang="nl-BE">
      <link rel="alternate" href="https://fr.disney.be/" hreflang="fr-BE">
      <link rel="alternate" href="https://disney.nl/" hreflang="nl-NL">
      <link rel="alternate" href="https://disneyturkiye.com.tr/" hreflang="tr-TR">
      <link rel="alternate" href="https://disney.pl/" hreflang="pl-PL">
      <link rel="alternate" href="https://disney.cz/" hreflang="cs-CZ">
      <link rel="alternate" href="https://disney.hu/" hreflang="hu-HU">
      <link rel="alternate" href="https://disney.ro/" hreflang="ro-RO">
      <link rel="alternate" href="https://disney.bg/" hreflang="bg-BG">
      <link rel="alternate" href="index.html" hreflang="en-ZA">
      <link rel="alternate" href="https://disney.co.il/" hreflang="he-IL">
      <link rel="alternate" href="https://en.disneyme.com/" hreflang="en-AE">
      <link rel="alternate" href="https://en.disneyme.com/" hreflang="en-SA">
      <link rel="alternate" href="https://en.disneyme.com/" hreflang="en-XM">
      <link rel="alternate" href="https://ar.disneyme.com/" hreflang="ar-AE">
      <link rel="alternate" href="https://ar.disneyme.com/" hreflang="ar-KW">
      <link rel="alternate" href="https://ar.disneyme.com/" hreflang="ar-SA">
      <link rel="alternate" href="https://ar.disneyme.com/" hreflang="ar-XM">
      <link rel="alternate" href="https://disney.gr/" hreflang="el-GR">
      <link rel="alternate" href="https://www.disney.com/" hreflang="x-default">
      <link rel="alternate" href="https://www.disney.com/" hreflang="en-US">
      <meta name="viewport" content="width=device-width,initial-scale=1">
      <link rel="shortcut icon" href="https://static-mh.content.disney.io/matterhorn/assets/favicon-94e3862e7fb9.ico">
      <link rel="apple-touch-icon" href="../png/apple-touch-icon-2747f4e2a5dd.png">
      <meta name="google-site-verification" content="p87mvNHCCkmnOHO70lF2PLlyCMK8E7pBFgKV9Zwq570">
      <meta name="google-site-verification" content="-XyYiSk17l5Q6yDmOtZFCbjtBamYVhuAlZcH8rQ83Xs">
      <meta name="description" content="Discover all you need to know about Disney movies, live shows, holidays, parks and the latest magical gifts and toys in the Disney Store.">
      <meta property="og:title" content="Disney South Africa | The Official Home For All Things Disney">
      <meta property="og:description" content="Discover all you need to know about Disney movies, live shows, holidays, parks and the latest magical gifts and toys in the Disney Store.">
      <meta property="og:type" content="website">
      <meta property="og:site_name" content="Disney South Africa">
      <meta property="og:url" content="https://disney.co.za">
      <meta property="og:image" content="https://lumiere-a.akamaihd.net/v1/images/image_0dbec56c_d153e3ae.jpeg?region=0%2C0%2C200%2C200">
      <script type="application/ld+json">{"@context":"http://schema.org","@type":"WebSite","name":"Disney South Africa","url":"https://disney.co.za/"}</script>
      <script type="text/javascript">this.Disney={"portal":"disney.co.za","profileBase":null,"locales":["en-ZA"],"didOptions":{"responderPage":"//disney.co.za/_did/?clientId=","enableTop":false,"langPref":"en-ZA","clientId":""},"browser_warning_versions":[],"dossierBase":null,"rtl":false,"env":"production","ctoOptions":null};</script>
      <script type="text/javascript">Disney.adSystem='noads'</script>
      <script type="text/javascript">Disney.consentPolicy={}</script>
      <script>var w=window;if(w.performance||w.mozPerformance||w.msPerformance||w.webkitPerformance){var d=document;AKSB=w.AKSB||{},AKSB.q=AKSB.q||[],AKSB.mark=AKSB.mark||function(e,_){AKSB.q.push(["mark",e,_||(new Date).getTime()])},AKSB.measure=AKSB.measure||function(e,_,t){AKSB.q.push(["measure",e,_,t||(new Date).getTime()])},AKSB.done=AKSB.done||function(e){AKSB.q.push(["done",e])},AKSB.mark("firstbyte",(new Date).getTime()),AKSB.prof={custid:"298083",ustr:"",originlat:"0",clientrtt:"263",ghostip:"92.122.54.51",ipv6:false,pct:"10",clientip:"105.112.50.97",requestid:"e75e2ae",region:"22076",protocol:"",blver:14,akM:"",akN:"ae",akTT:"O",akTX:"1",akTI:"e75e2ae",ai:"381942",ra:"false",pmgn:"",pmgi:"",pmp:"",qc:""},function(e){var _=d.createElement("script");_.async="async",_.src=e;var t=d.getElementsByTagName("script"),t=t[t.length-1];t.parentNode.insertBefore(_,t)}(("https:"===d.location.protocol?"https:":"http:")+"//ds-aksb-a.akamaihd.net/aksb.min.js")}</script>
    <title>{{ head_title|safe_join(' | ') }}</title>
    <css-placeholder token="{{ placeholder_token }}">
       <!--[if lt IE 9]>
      <link rel="stylesheet" type="text/css" href="https://static-mh.content.disney.io/matterhorn/assets/goc/disneyuschrome-desktop-8a204be03bba.css">
      <![endif]-->
      <style type="text/css">        
        .goc-icn-login, .goc-icn-login-bar{ background-image:url();  background-size: 32px }
         html.goc-no-data-uri .goc-icn-login, html.goc-no-data-uri .goc-icn-login-bar{ background-image:url() }
         @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
         .goc-icn-login, .goc-icn-login-bar{ background-image:url(); }
         }
         @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
         }
         .bar-dropdown-content .goc-thumb-link{ height: 500px; }
         #goc-desktop-global .goc-desktop:hover .bar-dropdown-content{max-height: 532px;}
         @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
         }
      </style>
      <script type="text/javascript">!function(e){"use strict";var t=e.GOC=e.GOC||{};t.queue=t.queue||[],t.opts=t.opts||{}}(this),GOC.load=function(e,t){"use strict";var n=document,o=n.getElementsByTagName("script")[0],s=n.createElement("script");s.type="text/javascript",s.async="async",s.onload=s.onreadystatechange=function(e,n){var o=this,s=o.readyState,r=o.parentNode;!r||!n&&s&&"complete"!==s&&"loaded"!==s||(r.removeChild(this),!n&&t&&t())},s.src=e,o.parentNode.insertBefore(s,o),s=n=o=null},function(e){"use strict";var t=e.encodeURIComponent;e.GOC.load("//a.dilcdn.com/g/domains/"+t(e.location.hostname)+".js")}(this),function(e){"use strict";var t=e.GOC,n=e.encodeURIComponent;t.defopts=function(e){0===Object.keys(t.opts).length&&(t.opts=e)},t.ao=function(e){var o=[],s=t.opts,r=s.footer;if(s.lang&&o.push("lang="+n(s.lang)),s.cds&&o.push("cds"),s.searchtype&&o.push("searchtype="+n(s.searchtype)),s.hide_desktop_menu&&o.push("hide_desktop_menu"),s.hide_search&&o.push("hide_search"),r)for(var a in r)if(r.hasOwnProperty(a))if("object"==typeof r[a])for(var i in r[a])r[a].hasOwnProperty(i)&&o.push("footer["+a+"]["+i+"]="+encodeURIComponent(r[a][i]));else o.push("footer["+encodeURIComponent(a)+"]="+encodeURIComponent(r[a]));return o.length&&(e+=(e.indexOf("?")<0?"?":"&")+o.join("&")),e}}(this),GOC.css=function(e){"use strict";var t=document,n=t.createElement("style"),o=t.getElementsByTagName("head")[0],s=(o||t).getElementsByTagName("script")[0];e&&(n.setAttribute("type","text/css"),s?s.parentNode.insertBefore(n,s):o.appendChild(n),n.styleSheet?n.styleSheet.cssText=e:n.appendChild(t.createTextNode(e)))},function(e,t){"use strict";var n=e.GOC,o=e.screen,s=e.document,r=s.documentElement,a=function(){var e,n,r,a,i,c=o&&o.fontSmoothingEnabled;if(c!==t)return c;try{for(e=s.createElement("canvas"),e.width=e.height=32,n=e.getContext("2d"),n.textBaseline="top",n.font="32px Arial",n.fillStyle=n.strokeStyle="black",n.fillText("O",0,0),r=0;r<32;r++)for(a=0;a<32;a++)if(255!==(i=n.getImageData(r,a,1,1).data[3])&&0!==i)return!0;return!1}catch(e){return t}},i=function(e){var t=s.createElement("div");t.innerHTML="M",t.style.fontFamily=e,r.insertBefore(t,r.firstChild),r.clientWidth,r.removeChild(t)};n.pf=function(e,t){!0===a()&&(n.css(e),i(t))}}(this),function(e){"use strict";e.GOC.noAnalyticsOnHover=!0}(this);GOC.pf("@font-face{font-family:'Matterhorn';src:url(\"https://static-mh.content.disney.io/matterhorn/assets/m4-7e766c2825c7.eot#\") format(\"eot\"),url(\"https://static-mh.content.disney.io/matterhorn/assets/m4-b366701d6945.woff\") format(\"woff\"),url(\"https://static-mh.content.disney.io/matterhorn/assets/m4-ac909dff444f.ttf\") format(\"truetype\"),url(\"https://static-mh.content.disney.io/matterhorn/assets/m4-3d636e3b4270.svg#Matterhorn\") format(\"svg\");font-weight:400;font-style:normal}\n","Matterhorn");GOC.opts.cds=false;GOC.opts.bg="light";GOC.opts.footer={"comscore":"","translations":{"find_us_on \t":"Find Us On"}};GOC.opts.hide_desktop_menu=true;GOC.opts.hide_search=true;GOC.opts.searchtype="ac";GOC.load("themes/disney/js/disneyuschrome-0da29ae44a01.js");GOC.a="http://a.dilcdn.com/g/inc-za/home/sac/";GOC.cart="http://a.dilcdn.com/g/inc-za/cart/";</script>

    <js-placeholder token="{{ placeholder_token }}">
  </head>
  <body dir="ltr" data-ad_system="noads" data-cto-region="emea">
    {#
      Keyboard navigation/accessibility link to main content section in
      page.html.twig.
    #}
    <a href="#main-content" class="visually-hidden focusable">
      {{ 'Skip to main content'|t }}
    </a>
    {{ page_top }}
    {{ page }}
    {{ page_bottom }}
    <js-bottom-placeholder token="{{ placeholder_token }}">
  </body>
</html>
